/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
  font-style: normal;
}

.anime-bg{
  background: linear-gradient(55deg,deepskyblue,darkviolet,blue,#a4e132,#32e1b8);
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


aside {
  position: fixed;
  left: 4rem;
  top: 4rem;

  padding: 1.5rem 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(48, 48, 48, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.inforSection {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(48, 48, 48, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 1.5rem;
  margin-left: 30%;
  
  position: relative;
}
.inforSection h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: white;
}

.aboutbtm {
  overflow: hidden;
}

.languagesIcons {
  display: flex;
  animation: slide 15s linear infinite;
  gap: 2rem;
  scroll-behavior: smooth;
  
  width: fit-content;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(calc(-1 * 100%));
  }
}
.languagesIcons img {
  width: 180px;
  mix-blend-mode: difference;
  height: 180px;
  /* border-radius: 50%; */
  object-fit: cover;
}
.languagesIcons img:hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 255))
    drop-shadow(0 0 20px rgb(255, 255, 255))
    drop-shadow(0 0 30px rgb(255, 255, 255));
}
.languagesIcons:hover {
  animation-play-state: paused;
}
hr {
  border: 3px solid rgb(116, 192, 2);
  border-radius: 5px;
}
.barAnime {
  animation: incrW 4s linear 4s normal forwards 2;
}
@keyframes incrW {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
