/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
  font-style: normal;
}
.container {
  background: rgb(166, 233, 178);
  background: linear-gradient(
    180deg,
    rgba(166, 233, 178, 1) 22%,
    rgba(92, 184, 144, 1) 73%
  );
  position: relative;
  /* padding: 2rem; */
}
aside {
  position: fixed;
  left: 4rem;
  top: 4rem;
  background: rgb(255, 93, 93);
  background: linear-gradient(
    49deg,
    rgba(255, 93, 93, 1) 17%,
    rgba(255, 209, 149, 1) 51%,
    rgba(255, 139, 94, 1) 85%
  );
  padding: 1.5rem 2.5rem;
  border-radius: 30px;
}
aside img {
  border-radius: 25px;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
svg {
  font-size: 25px;
  color: gold;
}
.inforSection {
  border-radius: 25px;
  background: rgb(236, 170, 63);
  background: radial-gradient(
    circle,
    rgba(236, 170, 63, 1) 16%,
    rgba(219, 206, 48, 1) 56%,
    rgba(241, 233, 145, 1) 79%
  );
  margin: 1.5rem;
  margin-left: 30%;
  padding: 2rem;
  position: relative;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: coral;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  border-end-start-radius: 20px;
}
nav a{
  font-size: 20PX;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
nav a:hover{
  color: aquamarine;
}
.inforSection h1{
font-size: 30px;
font-weight: 600;
margin-bottom: 2rem;
color: white;
}