/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
  font-style: normal;
}
.container {
  background: rgb(166, 233, 178);
  background: linear-gradient(
    180deg,
    rgba(166, 233, 178, 1) 22%,
    rgba(92, 184, 144, 1) 73%
  );
  position: relative;
  /* padding: 2rem; */
}
aside {
  position: fixed;
  left: 4rem;
  top: 4rem;
  background: rgb(255, 93, 93);
  background: linear-gradient(
    49deg,
    rgba(255, 93, 93, 1) 17%,
    rgba(255, 209, 149, 1) 51%,
    rgba(255, 139, 94, 1) 85%
  );
  padding: 1.5rem 2.5rem;
  border-radius: 30px;
}
aside img {
  border-radius: 25px;
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin: auto;
}
aside svg {
  font-size: 25px;
  color: rgb(255, 242, 0);
}
.inforSection {
  border-radius: 25px;
  background: rgb(236, 170, 63);
  background: radial-gradient(
    circle,
    rgba(236, 170, 63, 1) 16%,
    rgba(219, 206, 48, 1) 56%,
    rgba(241, 233, 145, 1) 79%
  );
  margin: 1.5rem;
  margin-left: 30%;
  padding: 2rem;
  position: relative;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: coral;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  border-end-start-radius: 20px;
}
nav a {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
nav a:hover {
  color: aquamarine;
}
.inforSection h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: white;
}
.socials svg {
  color: rgb(219, 219, 219);
  font-size: 30px;
}
.socials svg:hover {
  color: rgb(75, 0, 146);
}
.aboutbtm {
  overflow: hidden;
}
.languagesIcons {
  display: flex;
  animation: slide 15s linear infinite;
  gap: 2rem;
  scroll-behavior: smooth;
  /* background-color: rgb(196, 128, 2); */
  width: fit-content;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(calc(-1 * 55%));
  }
}
.languagesIcons img {
  width: 180px;
  mix-blend-mode: difference;
  height: 180px;
  /* border-radius: 50%; */
  object-fit: cover;
}
.languagesIcons img:hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 255))
    drop-shadow(0 0 20px rgb(255, 255, 255))
    drop-shadow(0 0 30px rgb(255, 255, 255));
}
.languagesIcons:hover {
  animation-play-state: paused;
}
hr {
  border: 3px solid rgb(116, 192, 2);
  border-radius: 5px;
}
.barAnime {
  animation: incrW 4s linear 4s normal forwards 2;
}
@keyframes incrW {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
